@import '/src/App.scss';

.header {
    width: 100%;
    padding: 35px;
    background: $white;   
    
    @include screenSize(laptop) {
        padding: 35px 15px;
    }
    @include screenSize(tabletWide) {
        padding: 35px 0;
    }

    &__wrapper {
        max-width: $maxWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 35px;
        @include screenSize(tabletWide) {
            flex-flow: row wrap;
        }
        @include screenSize(tablet) {
            padding: 0 15px;
        }
    }

    &__wrapper--title {
        max-width: 200px;
        width: 100%;
        padding-right: 25px;        
        @include screenSize(laptop) {
            max-width: 180px;
        }

        @include screenSize(tabletWide) {
            order: 1;
            max-width: 50%;
        }
        a {
            text-decoration: none;
            color: $gray-dark;
            p {
                font-size: 2.4rem;
                line-height: 1.6;     
            }
        }
    }

    &__wrapper--search {
        flex-grow: 1;
        max-width: 720px;
        @include screenSize(tabletWide) {
            order: 3;
            max-width: 100%;
        }
        .search__container {
            display: flex;
            align-items: center;
            @include screenSize(tabletWide) {
                flex-flow: row wrap;
                margin-top: 25px;
            }
        }
        .search__container--input {
            width: 360px;
            @include screenSize(laptop) {
                width: 280px;
            }
            @include screenSize(tabletWide) {
                width: 100%;
            }

            label {
                position: relative;
                overflow: hidden;
            }
            input {
                width: 100%;
                padding: 16px 60px 16px 16px;
                border: 1px solid $gray-2;
                border-radius: 8px;
                font-size: 1.4rem;
                line-height: 1.4;
                &::placeholder {
                    font-size: 1.4rem;
                    line-height: 1.4;
                    color: $gray-dark;
                    opacity: 1;
                    font-weight: 500;
                }
                &:focus {
                    outline-color: $blue-primary;
                    // & + .label {
                    //     opacity: 0;
                    //     left: 32px;
                    // }
                }
            }
            // .label {
            //     position: absolute;
            //     top: 50%;
            //     left: 16px;
            //     transform: translateY(-50%);
            //     pointer-events: none;
            //     touch-action: none;
            //     font-size: 1.4rem;
            //     line-height: 1.4;
            //     transition: .2s all ease-out;
            // }
            .icon {
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    stroke: $gray-dark;
                    font-size: 2.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .search__container--checkboxes {
            display: flex;
            align-items: center;
            padding: 0 25px;
            @include screenSize(tabletWide) {
                width: 100%;
                margin-top: 25px;
                padding: 0 25px 0 0;
            }
            .checkbox-item {
                margin-right: 16px;
                position: relative;
                &:first-of-type {
                    margin-right: 32px;
                }       
                @include screenSize(tabletWide) {
                    margin-right: 20px;
                }     
                label {
                    height: 24px;
                    display: flex;
                    padding-left: 28px;
                    align-items: center;
                    input.checkbox {
                        position: absolute;
                        top: -25px; 
                        left: -25px;
                        opacity: 0;
                        pointer-events: none;
                        touch-action: none;
                        &:checked ~ .custom {
                            border-color: $blue-primary;
                            background: $blue-primary;
                            .checked {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                fill: $white;
                                font-size: 1.8rem;
                            }
                        }
                    }
                    .name {
                        font-size: 1.4rem;
                        line-height: 1.4;
                        margin-left: 8px;
                    }
                    .custom {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 24px;
                        height: 24px;
                        border-radius: 4px;
                        box-sizing: border-box;
                        background: $white;
                        border: 1px solid $gray-2;
                        .checked {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__wrapper--user {
        margin-left: auto;
        @include screenSize(tabletWide) {
            order: 2;
        }
        .user-login {
            // width: 100px;
            .button-primary {
                background: $white;
                border: 1px solid $blue-primary;
                color: $blue-primary;
                display: inline-block;
                text-align: center;
                padding: 8px 24px;
                border-radius: 4px;
                transition: .2s all ease-out;
                text-decoration: none;
                font-size: 1.4rem;
                &:hover {
                    border-color: $blue-secondary;
                    color: $blue-secondary;
                }
            }
        }
        .user {
            width: 100%;
            position: relative;
        }
        .user--avatar {
             width: 48px;
             height: 48px;
             cursor: pointer;
             img {
                 width: 100%;
             }
        }
        .user--dropdown {
            position: absolute;
            top: 100%;
            right: calc(100% - 48px);
            width: 184px;
            transition: .2s all ease-out;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            z-index: 1;
            &.show {
                opacity: 1;
                pointer-events: all;
                visibility: visible;
                top: calc(100% + 10px);
            }
            .button-dropdown {
                background: $white;
                display: block;
                padding: 20px 16px;
                font-size: 1.4rem;
                line-height: 1.4;
                color: $gray-dark;
                text-decoration: none;
                box-shadow: 0px 8px 32px transparentize($gray-dark, .9);
                border-radius: 4px;
                transition: .2s all ease-out;
                &:hover {
                    background: $blue-secondary;
                    color: $white; 
                }
            }
        }
    }
}