$white            : #FFFFFF;
$blue-primary     : #4460F7;
$blue-secondary   : #2140E8;
$orange           : #F9A52B;
$gray-1           : #F0F1F5;
$gray-2           : #E0E2EA;
$gray-3           : #B9BDCF;
$gray-4           : #9194A5;
$gray-dark        : #1A1B1D;

$fontFamily: 'Nunito', sans-serif;
$fw-semibold: 600;

$sizeMobile: 480px;
$sizeTablet: 768px;
$sizeLaptop: 1200px;
$sizeDesktop: 1440px;
$sizeWideScreen: 1600px;
$sizeFullHD: 1920px;

$minWidth: 320px;
$maxWidth: 1600px;